@charset "UTF-8";
.header {
  background-color: #f6f6f6;
}
.header .centered-width {
  height: auto;
}
.header .centered-width p {
  color: #656565;
  padding: 5px;
  font-size: 13px;
  cursor: pointer;
}
.header .centered-width p:hover {
  color: #00abc9;
}
.header .centered-width .logos i {
  color: #656565;
  padding: 5px;
  cursor: pointer;
}
.header .centered-width .logos i:hover {
  color: #00abc9;
}
.header #head {
  cursor: pointer;
}

.navbar {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: rgba(0, 171, 201, 0.8);
  position: fixed;
  top: 0;
}
.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar .logo-white {
  height: 70px;
  width: auto;
}

.top {
  top: 26px;
}

.sticky .logo-white {
  height: 55px;
  width: auto;
}
.sticky li {
  padding: 17px 0;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  padding: 30px 0;
}
nav li a {
  color: #ffffff;
  display: block;
}
nav li:hover a {
  color: #2e363a;
}

#scroll-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #2e363a;
  color: white;
  cursor: pointer;
  padding: 15px;
  transition: opacity 2s ease-in;
}
#scroll-top:hover {
  background-color: #00abc9;
}

ul {
  list-style-type: none;
}

.faq-width {
  width: 800px;
  height: auto;
  margin: 0 auto;
}

.faq_item {
  border-bottom: 1px solid #aaaaaa;
}

.faq_title {
  cursor: pointer;
  padding: 12px 0;
  font-size: 20px;
  color: #aaaaaa;
  display: flex;
  position: relative;
}
.faq_title:hover {
  color: #00abc9;
}
.faq_title .active {
  color: #00abc9;
}
.faq_title .chevron {
  float: right;
}

.faq_title::after {
  content: "+";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.faq_title.active::after {
  content: "−";
}

.faq_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  color: #aaaaaa;
}
.faq_content .text-component {
  padding: 5px 0;
  border-top: 1px solid #aaaaaa;
}

.faq_container {
  padding: 20px;
  height: auto;
  margin: 0 0 40px 0;
}

.map .gmap {
  width: "100%";
  margin: 60px 0;
}

.con-container {
  min-height: 440px;
  height: auto;
  overflow: hidden;
}

.contact {
  background-color: #f6f6f6;
}

.input-container {
  margin: 50px;
}

.input-400 {
  margin: 10px;
  width: 400px;
  height: 20px;
  color: #aaaaaa;
  padding: 20px;
  border: 2px solid #ffffff;
}
.input-400:focus {
  outline: none !important;
  border: 2px solid #00abc9;
}

.input-full {
  margin: 10px;
  width: 823px;
  padding: 20px;
  height: 20px;
  color: #aaaaaa;
  border: 2px solid #ffffff;
}
.input-full:focus {
  outline: none !important;
  border: 2px solid #00abc9;
}

textarea {
  margin: 10px;
  width: 823px;
  padding: 20px;
  height: 100px;
  color: #aaaaaa;
  border: 2px solid #ffffff;
}
textarea:focus {
  outline: none !important;
  border: 2px solid #00abc9;
}

.btn2 {
  margin: 20px !important;
}

.con-column {
  margin: 50px 10px;
}

.con-h3 {
  color: #00abc9;
  padding: 10px;
}

.con-a,
.con-p {
  width: 100%;
  margin: 0 10px;
  color: #2e363a;
}

/* MAIN */
* {
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: transparent;
}

.full-width {
  width: 100%;
  height: auto;
}

.centered-width {
  width: 1200px;
  margin: 0 auto;
}

.width-80 {
  width: 960px;
  float: left;
}

.width-20 {
  width: 240px;
  float: left;
}

.half-centered-width {
  width: 600px;
  height: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.parallax {
  background-image: url(".jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.separator {
  margin: 10px auto;
  width: 85px;
  border: #00abc9 2px solid;
  color: #00abc9;
}

.heading {
  padding: 30px 0;
  text-align: center;
}
.heading h2 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
}
.heading sub-heading {
  color: #aaaaaa;
}

.hide {
  visibility: hidden;
  transition: 0s;
}

.experts {
  height: 500px;
  background-color: #f6f6f6;
}

.img-container {
  background-image: url("../img/CIBWealthManagement2435464739242352-2048x1366.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 50%;
}

.column-container {
  margin: 100px 20px 20px 60px;
}
.column-container h2 {
  font-size: 40px;
  font-weight: 700;
}
.column-container h3 {
  font-weight: 500;
  color: #00abc9;
}
.column-container p {
  margin-top: 20px;
  color: #656565;
}

/* Offer Container*/
.our-offer {
  min-height: 762px;
  height: auto;
}

.offer-item {
  text-align: center;
  padding: 20px;
  width: 360px;
  height: 200px;
}
.offer-item img {
  height: 80px;
  width: auto;
  margin: 0 auto;
}
.offer-item .item-header {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.offer-item p {
  padding: 0 10px;
  font-size: 14px;
  color: #656565;
}

/* Contact */
.row-contact {
  height: 150px;
  background-color: #00abc9;
  color: #ffffff;
}

.question-icon {
  width: 120px;
  padding: 20px;
}

.button {
  border: #ffffff 2px solid;
  color: #00abc9;
  background-color: #ffffff;
  font-weight: 700;
  padding: 15px 40px;
  margin: 46px 20px;
  font-size: 20px;
  border-radius: 50px;
}
.button:hover {
  border: #ffffff 2px solid;
  background-color: #00abc9;
  color: #ffffff;
}

.question-tag {
  margin: 30px 20px;
  width: 500px;
}
.question-tag .question1 {
  font-size: 40px;
  font-weight: 700;
  float: left;
}
.question-tag .question2 {
  font-size: 20px;
  float: left;
  font-weight: 500;
}

.counterup {
  width: auto;
  background-color: #00abc9;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
}
.counterup .counter-con {
  float: left;
  width: 300px;
  height: auto;
}
.counterup .counter-icon {
  float: left;
  width: 100%;
  padding: 15px 0;
  font-size: 30px;
}
.counterup .counter {
  float: left;
  width: 100%;
  font-size: 50px;
}
.counterup .counter-title {
  float: left;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
}

.fix {
  height: 20px;
  padding: 50px 0;
}

.fix-top {
  height: 26px;
}

.footer {
  background-color: #2e363a;
  height: auto;
  color: #aaaaaa;
}
.footer .footer-separator {
  width: 1200px;
  margin: 0 auto;
  color: #666666;
}
.footer .footer-upper {
  height: 270px;
  padding: 20px 0;
}
.footer .footer-section {
  width: 300px;
  float: left;
}
.footer .info-blocks {
  float: left;
}
.footer .info-blocks .icon {
  float: left;
  width: 40px;
  height: auto;
}
.footer .info-blocks i {
  padding: 10px;
  color: #00abc9;
  font-size: 20px;
}
.footer .info-blocks .title {
  float: left;
  width: 260px;
  padding: 10px 0 5px 0;
  font-weight: 700;
  color: #ffffff;
}
.footer .info-blocks p {
  float: left;
  width: 230px;
  font-size: 15px;
  padding: 5px 0;
}
.footer h3 {
  color: #ffffff;
  padding: 10px;
}
.footer .footer-bottom {
  margin: 20px 0 0 0;
  height: 80px;
}
.footer .majlo {
  color: #aaaaaa;
}
.footer p {
  padding: 17px 0;
}
.footer .heart {
  font-weight: 700;
  color: #ff0000;
}
.footer .soc-btn {
  margin: 5px;
  float: left;
  width: 41px;
  height: 41px;
  text-align: center;
  border: 1px #aaaaaa solid;
  border-radius: 3px;
  color: #ffffff;
}
.footer .soc-btn:hover {
  background-color: #00abc9;
  border: 1px #00abc9 solid;
}
.footer .soc-btn i {
  line-height: 40px;
}
.footer .link {
  padding: 5px 10px;
}
.footer .link a {
  color: #00abc9;
}
.footer .link a:hover {
  color: #ffffff;
}

#nl-email {
  background-color: #2e363a;
  color: #ffffff;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  height: 40px;
  width: 210px;
  padding: 5px 10px;
  border-left: #00abc9 2px solid;
  border-top: #00abc9 2px solid;
  border-bottom: #00abc9 2px solid;
  border-right: none;
  outline-style: none;
}

#btn-sub {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #00abc9;
  position: absolute;
  font-weight: 700;
  padding: 5px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  border: #00abc9 2px solid;
}
#btn-sub:hover {
  background-color: #2e363a;
  border: #00abc9 2px solid;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .centered-width {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .half-centered-width {
    width: 50%;
    height: auto;
  }

  .our-offer {
    min-height: 762px;
    height: auto;
    display: flex;
  }

  .offer-item {
    justify-content: space-around;
  }
}