$main-color: #00abc9;
$gray-bg: #f6f6f6;
$navbar-bg: rgb(0,171,201, 1);
$navbar-sticky: rgb(0,171,201, 0.8);
$gray: #aaaaaa;
$red: #ff0000;
$bg-dark: #2e363a;
$white: #ffffff;
$separator-gray: #666666;
$grey-text: #656565;