@import '__colors.scss';

.map{
    .gmap{
        width: "100%";
        margin: 60px 0;
    }
}
.con-container{
    min-height: 440px;
    height: auto;
    overflow: hidden;
}
.contact{
    background-color: $gray-bg;
}
.input-container{
    margin: 50px;
}
.input-400{
    margin: 10px;
    width: 400px;
    height: 20px;
    color: $gray;
    padding: 20px;
    border: 2px solid $white;
    &:focus {
        outline: none !important;
        border: 2px solid $main-color;
    }
}
.input-full{
    margin: 10px;
    width: 823px;
    padding: 20px;
    height: 20px;
    color: $gray;
    border: 2px solid $white;
    &:focus {
        outline: none !important;
        border: 2px solid $main-color;
    }
}
textarea{
    margin: 10px;
    width: 823px;
    padding: 20px;
    height: 100px;
    color: $gray;
    border: 2px solid $white;
    &:focus {
        outline: none !important;
        border: 2px solid $main-color;
    }
}

.btn2{
    margin: 20px !important;
}
.con-column{
    margin: 50px 10px;
}
.con-h3{
    color: $main-color;
    padding: 10px;
}
.con-a,
.con-p{
    width: 100%;
    margin: 0 10px;
    color: $bg-dark;
}