@import '__colors.scss';

ul {
    list-style-type: none;
}
.faq-width {
    width: 800px;
    height: auto;
    margin: 0 auto;
}
.faq_item{
    border-bottom: 1px solid $gray;
}
.faq_title{
    &:hover{
        color: $main-color;
    }
    .active{
        color: $main-color;
    }
    cursor: pointer;
    padding: 12px 0;
    font-size: 20px;
    color: $gray;
    display: flex;
    position: relative;
    .chevron{
        float: right;
    }
}
.faq_title::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .faq_title.active::after {
    content: "\2212";
  }

.faq_content{ 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    color: $gray;
    .text-component{
        padding: 5px 0;
        border-top: 1px solid $gray;
    }
}

.faq_container{
    padding: 20px;
    height: auto;
    margin: 0 0 40px 0;
}
