@import '__colors.scss';
@import 'navbar.scss';
@import 'faq.scss';
@import 'contact.scss';


/* MAIN */
* {
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: transparent;
}
.full-width {
    width: 100%;
    height: auto;
}
.centered-width {
    width: 1200px;
    margin: 0 auto;
}
.width-80 {
    width: 960px;
    float: left;
}
.width-20 {
    width: 240px;
    float: left;
}

.half-centered-width {
    width: 600px;
    height: auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.parallax {
    background-image: url(".jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.separator {
    margin: 10px auto;
    width: 85px;
    border: $main-color 2px solid;
    color: $main-color;
}

.heading {
    h2 {
        margin: 10px 0;
        font-size: 24px;
        font-weight: 700;
    }
    sub-heading {
        color: $gray;
    }
    padding: 30px 0;
    text-align: center;
}

.hide{
    visibility: hidden;
    transition: 0s;
}


.experts{
    height: 500px;
    background-color: $gray-bg;
}
.img-container{
    background-image: url("../img/CIBWealthManagement2435464739242352-2048x1366.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 50%;
}
.column-container{
    margin: 100px 20px 20px 60px;
    h2{
        font-size: 40px;
        font-weight: 700;
    }
    h3{
        font-weight: 500;
        color: $main-color;
    }
    p{
        margin-top: 20px;
        color: $grey-text;
    }
}

/* Offer Container*/
.our-offer{
    min-height: 762px;
    height: auto;
}
.offer-item{
    text-align: center;
    padding: 20px;
    width: 360px;
    height: 200px;
    img{
        height: 80px;
        width: auto;
        margin: 0 auto;
    }
    .item-header{
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0;
    }
    p{
        padding: 0 10px;
        font-size: 14px;
        color: $grey-text;
    }
}

/* Contact */

.row-contact {
    height: 150px;
    background-color: $main-color;
    color: $white;
}

.question-icon {
    width: 120px;
    padding: 20px;
}

.button {
    border: $white 2px solid;
    color: $main-color;
    background-color: $white;
    font-weight: 700;
    padding: 15px 40px;
    margin: 46px 20px;
    font-size: 20px;
    border-radius: 50px;
    &:hover{
        border: $white 2px solid;
        background-color: $main-color;
        color: $white;
    }
}

.question-tag {
    .question1 {
        font-size: 40px;
        font-weight: 700;
        float: left;
    }
    .question2 {
        font-size: 20px;
        float: left;
        font-weight: 500;
    }
    margin: 30px 20px;
    width: 500px;
}

.counterup{
    width: auto;
    background-color: $main-color;
    overflow: hidden;
    color: $white;
    text-align: center;
    .counter-con{
        float: left;
        width: 300px;
        height: auto;
    }
    .counter-icon{
        float: left;
        width: 100%;
        padding: 15px 0;
        font-size: 30px;
    }
    .counter{
        float: left;
        width: 100%;
        font-size: 50px;
    }
    .counter-title{
        float: left;
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
    }
}

.fix{
    height: 20px;
    padding: 50px 0;
}
.fix-top{
    height: 26px;
}

.footer {
    .footer-separator {
        //width: calc(100vw - 80px);
        width: 1200px;
        margin: 0 auto;
        color: $separator-gray;
    }
    .footer-upper {
        height: 270px;
        padding: 20px 0;
    }
    .footer-section {
        width: 300px;
        float: left;
    }
    .info-blocks {
        float: left;
        .icon {
            float: left;
            width: 40px;
            height: auto;
        }
        i {
            padding: 10px;
            color: $main-color;
            font-size: 20px;
        }
        .title {
            float: left;
            width: 260px;
            padding: 10px 0 5px 0;
            font-weight: 700;
            color: $white;
        }
        p {
            float: left;
            width: 230px;
            font-size: 15px;
            padding: 5px 0;
        }
    }
    h3 {
        color: $white;
        padding: 10px;
    }
    .footer-bottom {
        margin: 20px 0 0 0;
        height: 80px;
    }
    .majlo{
        color: $gray;
    }
    p {
        padding: 17px 0;
    }
    .heart {
        font-weight: 700;
        color: $red;
    }
    .soc-btn {
        margin: 5px;
        float: left;
        width: 41px;
        height: 41px;
        text-align: center;
        border: 1px $gray solid;
        border-radius: 3px;
        color: $white;
        &:hover {
            background-color: $main-color;
            border: 1px $main-color solid;
        }
        i {
            line-height: 40px;
        }
    }
    .link {
        padding: 5px 10px;
        a {
            color: $main-color;
            &:hover {
                color: $white;
            }
        }
    }
    background-color: $bg-dark;
    height: auto;
    color: $gray;
}

#nl-email {
    background-color: $bg-dark;
    color: $white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    height: 40px;
    width: 210px;
    padding: 5px 10px;
    border-left: $main-color 2px solid;
    border-top: $main-color 2px solid;
    border-bottom: $main-color 2px solid;
    border-right: none;
    outline-style: none;
}

#btn-sub {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: $main-color;
    position: absolute;
    font-weight: 700;
    padding: 5px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    border: $main-color 2px solid;
    &:hover {
        background-color: $bg-dark;
        border: $main-color 2px solid;
        color: $white;
    }
}



@media only screen and (max-width: 1200px) {
    .centered-width {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .half-centered-width {
        width: 50%;
        height: auto;
    }

    .our-offer{
        min-height: 762px;
        height: auto;
        display: flex;
    }
    .offer-item{
        justify-content: space-around;
    }
}