@import '__colors.scss';

.header{
    background-color: $gray-bg;
    .centered-width{
        height: auto;
        p{
            color: $grey-text;
            padding: 5px;
            font-size: 13px;
            cursor: pointer;
            &:hover{
                color: $main-color;
            }
        }
        .logos{
            i{
                color: $grey-text;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    color: $main-color;
                }
            }
        }
    }
    #head{
        cursor: pointer;
    }
}

.navbar {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: $navbar-sticky;
    position: fixed;
    top: 0;
    a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .logo-white{
        height: 70px;
        width: auto;
    }
}
.top{
    top: 26px;
}
.sticky {
    .logo-white{
        height: 55px;
        width: auto;
    }
    li{
        padding: 17px 0;
    }
}

nav{
     ul{
         display: flex;
     }
     li{
         a{
             color: $white;
             display: block;
         }
         list-style: none;
         padding: 30px 0;
         &:hover{
             a{
                color: $bg-dark;
             }
         }
     }
}

#scroll-top{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: $bg-dark;
    color: white;
    cursor: pointer;
    padding: 15px;
    transition: opacity 2s ease-in;
    &:hover{
        background-color: $main-color;
    }
}