

.cd-hero__btn{
    background-color: rgb(0,171,201, 0.9);
}
.cd-hero__btn:hover {
    background-color: #2e363a;
}
.cd-hero__content h2 {
    font-size: 3.2rem;
    font-weight: 700;
}

