<section class="footer full-width">
    <div class="centered-width">
        <div class="footer-upper">
            <div class="footer-section">
                <h3>Contact</h3>
                <div class="info-blocks">
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div class="title">Address:</div>
                    <p>Fulbright Tower, 911 Austin Street, Houston, Texas, TX 77010</p>
                </div>
                <div class="info-blocks">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <div class="title">Call us:</div>
                    <p>+22 837 993 547</p>
                </div>
                <div class="info-blocks">
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <div class="title">Have any question?</div>
                    <p>investments@true.com</p>
                </div>
            </div>
            <div class="footer-section">
                <h3>Menu</h3>
                <div class="link"><a href="#">Home</a></div>
                <div class="link"><a href="#">About us</a></div>
                <div class="link"><a href="#">Our offer</a></div>
                <div class="link"><a href="contact.php">Contact us</a></div>
                <div class="link"><a href="portfolio.php">Portfolio</a></div>
                <div class="link"><a href="gallery.php">Gallery</a></div>
                <div class="link"><a href="faq.php">FAQ</a></div>
            </div>
            <div class="footer-section">
                <h3>Helpful links</h3>
                <div class="link"><a href="#">Stock</a></div>
                <div class="link"><a href="#">Academy</a></div>
                <div class="link"><a href="#">Partners</a></div>
                <div class="link"><a href="#">Found</a></div>
                <div class="link"><a href="#">Currency</a></div>
                <div class="link"><a href="#">Bitcoin</a></div>
            </div>
            <div class="footer-section">
                <h3>Newsletter</h3>
                <form>
                    <input type="email" id="nl-email" placeholder="Enter your email adress">
                    <input type="submit" id="btn-sub" value="Subscribe">
                </form>
            </div>
        </div>
    </div>

    <hr class="footer-separator">
    <div class="centered-width">
        <div class="footer-bottom">
            <p class="left">Copyright &#169; 2021 Made with <span class="heart"><i class="fa fa-heart"></i></span> by <a class="majlo" href="http:\\www.majlo001.epizy.com">MAJLO</a>.</p>
            <div class="right">
                <div class="soc-btn"><i class="fa fa-facebook"></i></div>
                <div class="soc-btn"><i class="fa fa-linkedin"></i></div>
                <div class="soc-btn"><i class="fa fa-github"></i></div>
                <div class="soc-btn"><i class="fa fa-envelope"></i></div>
            </div>
        </div> 
    </div>
</section>


<script src="js/smooth-scroll.js"></script>


</body>
</html>